.form-card {
  max-width: 100%;
  padding: 20px;
}

.container {
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

table {
  width: 100%;
}

.mat-mdc-header-cell {
  background-color: #f5f5f5;
  color: #ffffff;
  font-size: 17px;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 188, 212, 0.05);
}
