.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.spacer {
  flex: 1 1 auto; 
}

.content {
  padding: 20px;
}

:host {
  display: block;
  height: 100%;
}