.form-card {
  max-width: 100%;
  padding: 20px;
}

.registro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.space {
  margin: 5px;
}

.full-width {
  grid-column: 1 / -1;
}

.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

mat-card-title {
  color: #00bcd4;
}

.select-all-container {
  padding: 8px 16px;
  display: flex;
  align-items: center;

  /* // Evita que o clique feche o menu se não for em um mat-option */
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

/* // Opcional: Ajuste para o divider */
mat-divider {
  margin-bottom: 4px;
}

/* Cor ao passar o mouse (Hover) */
.mat-mdc-option:hover:not(.mat-mdc-option-disabled) {
  background-color: rgba(
    0,
    188,
    212,
    0.1
  ) !important; /* Cyan com 10% de opacidade */
}

/* Cor quando a opção está selecionada */
.mat-mdc-option.mat-mdc-selected:not(.mat-mdc-option-disabled) {
  background-color: rgba(
    0,
    188,
    212,
    0.2
  ) !important; /* Cyan com 20% de opacidade */
}

/* Cor do checkbox e do texto quando selecionado */
.mat-mdc-option.mat-mdc-selected
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  background-color: #ff9800 !important; /* Orange para o Checkbox */
  border-color: #ff9800 !important;
}

.mat-mdc-option.mat-mdc-selected .mat-mdc-option-text {
  color: #00bcd4 !important; /* Cyan para o Texto */
}
