.registro-form {
  padding: 20px;
}

.form-header-card {
  margin-bottom: 10px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px 0 16px;
  color: #673ab7;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
  margin: 0px;
  padding: 0px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.import-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
